@import url(//db.onlinewebfonts.com/c/b26b20369adfef2b3d65d266e0625fe2?family=Gabriola);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-fluid {  
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg,#fff, #57e3d9);

}
.titleDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleDescription .logo {
  width: 450px;
  height: 200px;
}

.titleDescription h1 {
  font-size: 13vw;
  font-family: Gabriola, sans-serif;
  font-weight: 700;
  margin-top: -20px;
}
.titleDescription h4 {
  font-size: 4vw;
  font-family: Gabriola, sans-serif;
  font-weight: 300;
}
.titleDescription .logoMarcas {
  max-width: 400px;
}

#sliders {
  max-width: 400px;
}
#sliders img {
  max-width: 100%;
}

.botaoWhatsapp {
  z-index: 100;
  position: fixed;
  top: 70%;
  right: 10px;
  width: 40px;
  height: 40px;
}
.botaoWhatsapp:hover {
  width: 45px;
  height: 45px;
}
.botaoInstagram {
  z-index: 100;
  position: fixed;
  top: 76%;
  right: 10px;
  width: 40px;
  height: 40px;
}
.botaoInstagram:hover {
  width: 45px;
  height: 45px;
}
.cards {
  background: url("../assets/fundo.jpg") no-repeat;
  background-size: cover;  
}
/* .bMercury {
  background: url("../assets/mercury.jpg") no-repeat;
  background-size: cover;
}
.bMercruiser {
  background: url("../assets/mercruiser.jpg") no-repeat;
  background-size: cover;
}
.bEvinrude {
  background: url("../assets/evinrude.jpg") no-repeat;
  background-size: cover;
}
.bYamaha {
  background: url("../assets/yamaha.jpg") no-repeat;
  background-size: cover;
} */
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.card .title {
  font-size: 28px;
  color: #f11c1c;
}
.card p {
  max-width: 400px;
  font-size: 18px;
  color: #fff;
}
.card img {
  max-width: 300px;
  max-height: 500px;
}

.box {
  background: #292929;
  border-radius: 20px;
  padding: 20px;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  max-width: 100vw;
  background: #292929;
}
.contato p {
  color: rgb(189, 189, 189);
}
.contato h3 {
  font-size: 30px;
  color: #fff;
}
.redeSocial {
  width: 50px;
  height: 50px;
  margin: 10px;
}